<div class="center hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>
		You have found the home page for
		<%= link_to "One month rails", "http://onemonthrails.com"%>
		application
	</p>
	<p>
		<a href="#">Sign up now</a>
	</p>
</div>
